<div class="img-container">
  <div class="testimonial-container">
    <h1 class="testimonial-heading-text">{{ section.settings.heading }}</h1>
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
        <div class="swiper-slide" style="background-color: {{ block.settings.box-bg-color }};">
          <div class="background-overlay"></div>
          <div class="swiper-zoom-container">
            <img src="{{ block.settings.image | img_url: '500x500', scale: 2 }}" alt="Slide Image" class="zoom-in-out-box fade-in-out" style="color:'red'">
          </div>
          <div class="overlay">
            <div class="slide-content" style="color: {{ block.settings.desc-color }};">
              <h3 class="botton__right--head" style="color: {{ block.settings.rahulcolor }}; font-size: {{ block.settings.slide-heading-font-size }}px; font-weight: {{ block.settings.slide-font-weight }};">{{ block.settings.slide-text }}</h3>
              <p style="font-size: {{ block.settings.desc-size }}px;">{{ block.settings.desc }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="carousel-navigation">
        {% for block in section.blocks %}
        <button class="tap-area" aria-current="{% if forloop.index == 1 %}true{% else %}false{% endif %}">
          <span class="sr-only">Go to item {{ forloop.index }}</span>
          <svg class="circular-progress" height="10" width="10" viewBox="0 0 20 20">
            <circle class="progress-circle" cx="10" cy="10" r="8" fill="none" stroke="currentColor" stroke-width="2"></circle>
          </svg>
        </button>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  var swiper = new Swiper(".mySwiper", {
    spaceBetween: 30,
    effect: "fade",
    fadeEffect: {
      crossFade: true
    },
    grabCursor: true,
    centeredSlides: true,
    loop: true,
    zoom: true,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false
    },
    on: {
      slideChangeTransitionStart: function () {
        var slides = this.slides;
        for (var i = 0; i < slides.length; i++) {
          var slide = slides[i];
          if (slide.classList.contains("swiper-slide-active")) {
            slide.querySelector(".zoom-in-out-box").style.transform = "scale(1)";
          } else {
            slide.querySelector(".zoom-in-out-box").style.transform = "scale(1.2)";
          }
        }
        updateProgressCircles(swiper);
      }
    }
  });

  swiper.on('slideChange', function () {
    updateProgressCircles(swiper);
  });

  function updateProgressCircles(swiper) {
    var animated = swiper.realIndex;
    var progressCircles = document.querySelectorAll('.progress-circle');
    for (var i = 0; i < progressCircles.length; i++) {
      if (i === animated) {
        progressCircles[i].classList.add('animated');
      } else {
        progressCircles[i].classList.remove('animated');
      }
    }
  }


});

</script>


<style>

  /* Adjust the top margin of the banner section */
  .img-container {
    margin-top: -100px; /* Adjust as needed */
     position: relative;
    width:100%;
}

  
  .swiper-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 550px;
  }
  
  .zoom-in-out-box {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    transition: transform 2s ease-out; 
     
  }
  .swiper-slide {
    top: 0;
    left: 0;
    width: 100%;
    
&.current {
      opacity: 0;
}  
    img {
     
    width: 100%;
    height: 100%;
    object-fit: cover;
   /* grid-area: full-start / full-start / full-end / full-end; */
  }
  }
  .swiper-slide .overlay {
    width: 100%;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }
 
 .botton__right--head {
     position: absolute;
  bottom: 11rem;
  right: 138px;
   width:147px;
  }
  .fade-in-out {
    animation: fade-in-out 5s ease infinite;
     background-color: rgba(0, 0, 0, 0.5);
  }
  .carousel-navigation {
    position: absolute;
    bottom: 49px;
    left: 94%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .carousel-navigation button {
   color:none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  .carousel-navigation .sr-only {
    position: absolute;
    left: -9999px;
  }
  .carousel-navigation .circular-progress {
    margin-right: 10px;
    fill: none;
    stroke-width: 1.5;
  }
  .carousel-navigation button[aria-current="true"] .circular-progress {
    stroke-opacity: 1;
  }
 

  .carousel-navigation .progress-circle {
  stroke-dasharray: 50;
   stroke: none;
  transition: stroke-dashoffset 1s linear;
    fill:gray;
}

.carousel-navigation .progress-circle.animated {
  fill:none;
  stroke: #FFFFFF; 
   animation: progressAnimation 3s linear infinite;
}

  @keyframes progressAnimation {
    0% {
      stroke-dashoffset: 50;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
</style>

{% schema %}
{
  "name": "Banner Image Slider",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Enter slider heading here"
    },
    {
      "type": "color",
      "id": "heading-font-color",
      "label": "Heading Font Color"
    },
    {
      "type": "color",
      "id": "main-bg-color",
      "label": "Background Color"
    },
    {
      "type": "range",
      "id": "heading-font-size",
      "label": "Heading font size",
      "max": 50,
      "min": 10,
      "default": 20
    },
    {
      "type": "select",
      "id": "weight",
      "label": "Font Weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "bold",
          "label": "Bold"
        },
        {
          "value": "bolder",
          "label": "Bolder"
        }
      ],
      "default": "normal"
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Testimonial image"
        },
        {
          "type": "color",
          "id": "rahulcolor",
          "label": "Heading Font Color"
        },
        {
          "type": "color",
          "id": "desc-color",
          "label": "Description Color"
        },
        {
          "type": "color",
          "id": "box-bg-color",
          "label": "Slide bg color"
        },
        {
          "type": "text",
          "id": "slide-text",
          "label": "Enter Heading",
          "default": "Your heading"
        },
        {
          "type": "textarea",
          "id": "desc",
          "label": "Enter your description here"
        },
        {
          "type": "range",
          "id": "slide-heading-font-size",
          "label": "Slide Heading font size",
          "max": 50,
          "min": 10,
          "default": 20
        },
        {
          "type": "select",
          "id": "slide-font-weight",
          "label": "Font Weight",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "bold",
              "label": "Bold"
            },
            {
              "value": "bolder",
              "label": "Bolder"
            }
          ],
          "default": "normal"
        },
        {
          "type": "range",
          "id": "desc-size",
          "label": "Description size",
          "max": 50,
          "min": 10,
          "default": 15
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner Image Slider",
      "category": "custom"
    }
  ]
}
{% endschema %}
